{% capture base_tag_cls %}
btn|
btn-sm|
btn-log-tags|
btn-{{ category }}|
{% endcapture %}

{% assign base_tag_cls = base_tag_cls | strip_newlines | split: "|" | join: " " %}

<article class="log-entry mb-3 row">
  <div class="log-meta col-12 col-lg-3">
    <div class="btn btn-log-date"> {{ post.date | date: "%b %d" }} </div>
    <a href="/{{ post.categories | join: '/' }}" class="{{ base_tag_cls }}-primary"> {{ post.categories | last }} </a>
  </div>
  <div class="log-body col-12 col-lg-9">
    <h2 class="log-title">
      <a href="{{ post.url }}"> {{ post.title }} </a>
    </h2>
    <p class="log-excerpt">
      {{ post.excerpt | remove: "<p>" | remove: "</p>" }}
    </p>
  </div>
</article>

{% comment %}
{% assign bkpt = site.time | date: "%W" | plus: -2 %}
{% assign psdt = post.date | date: "%W" | plus:  0 %}
{% unless bkpt > psdt %}
  :loudspeaker:
{% endunless %}
{% endcomment %}