{% capture base_tag_cls %}
btn|
btn-sm|
btn-log-tags|
btn-{{ category }}|
{% endcapture %}

{% assign base_tag_cls = base_tag_cls | strip_newlines | split: "|" | join: " " %}

<div class="log-entry card mb-3" id="{{ include.id }}">
  <div class="log-excerpt card-body">
    <h3 class="log-title"> <a href="{{ post.url }}">{{ post.title }} </a> </h3>
    <h5 class="log-snark"> or... {{ post.snark | downcase }} </h5>
  </div>
  <div class="card-footer">
    <div class="log-date btn btn-sm"> {{ post.date | date: "%b %d" }} </div>
    {% comment %}
    <a class="{{ base_tag_cls}}-primary" href="/{{ post.categories | join: '/'}}"> {{ post.categories | last }} </a>
    {% for tag in post.tags %}
      <div class="{{ base_tag_cls }}"> {{ tag }} </div>
    {% endfor %}
    {% endcomment %}
  </div>
</div>
