{% capture base_tag_cls %}
list-group-item|
list-group-item-action|
d-flex|
justify-content-between|
align-items-center|
{% endcapture %}

{% assign base_tag_cls = base_tag_cls | strip_newlines | split: "|" | join: " " %}

<button class="btn btn-block btn-primary mb-2" type="button" 
        data-toggle="collapse" data-target="#filter-{{ category }}"
        aria-expanded="false" aria-controls="#filter-{{ category }}">
  Filter {{ category }} by topic
</button>

<div class="card mb-3 collapse" id="filter-{{ category }}">
  <div class="card-body p-0">
    <div class="list-group list-group-flush">
      {% for subcat in raw_subcats %}
        {% assign split = subcat | split: "/" | last %}

        {% assign tag_cls = base_tag_cls %}

        {% if page.url contains subcat %}
          {% assign tag_cls = tag_cls | append: " active" %}
        {% endif %}

        <a  href="{{ page.url }}{% if page.sublog_idx %}{{ split }}{% else %}{{ subcat }}{% endif %}"
            class="{{ tag_cls }}">
          {{ subcat }}
          <span class="badge badge-secondary"> {{ site.categories[split] | size }} </span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
