div.page {
  right: 0;
  z-index: 100;
  padding: 3rem 0 0 3rem;
  position: absolute;
  // background: #111d28;
  // background: #161f28;
  background: #1d2730;
  background: #3f4850;
  width: calc(100% - 22rem);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);

  main.content {
    border-radius: 4px 4px 0 0;
    padding: 3rem 2rem 4rem 2rem;
    background: $background-color;
    max-width: 44rem;
    position: relative;
    min-height: calc(100vh - 3rem);

    @import 'footer';
  }
}

@media (max-width: 40rem) {
  div.page {
    width: 100vw;
    box-shadow: 0;
    padding: 0.5rem;
    padding-bottom: 0;
    position: relative;

    main.content {
      width: 100vw;
      padding: 1rem 0.5rem 4rem 0.5rem;
      min-height: calc(100vh - 1rem);
    }
  }
}
