@font-face {
    font-family: "ProximaNova";
    src: url("/fonts/pn-regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("/fonts/pn-regular.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    font-weight: 400;
}