div.listing-container {
  display: flex;
  flex-wrap: wrap;
  article.listing-depth {
    //min-width: 50%;
    flex-basis: 50%;
    padding: $base-unit;
    color: $brand-blk-txt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h1 {
      color: $brand-blk-txt;
    }
  }
}
