div.container {
  margin-top: 3 * $base-unit;
  background: $brand-wht-txt;
  h1.page-title {
    padding: 4 * $base-unit 8 * $base-unit;
    font-size: 5 * $base-unit;
    background: #131c20;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;
    left: 0;
    top: 0;
  }
  div.container-content {
    padding: 4 * $base-unit 8 * $base-unit;
    h2, h3, h4, p, a {
      color: #131c20;
    }
  }
}
