$font-sans: "motiva-sans", sans-serif;
// $font-sans: "proxima-nova", sans-serif;
// $font-sans: "brandon-grotesque", sans-serif;
$font-code: "anonymous-pro", monospace;

h1, h2, h3, h4, h5, h6, p, span, strong, em, li {
  font-family: $font-sans;
  margin: 0;
}

pre, code {
  &, & > span {
    font-family: $font-code;
  }
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  &:not(.log-heading) {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(9, 57, 99, 0.4);
  }
}

h2 {
  font-size: 30px;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

p, span, a, {
  font-size: 18px;
  line-height: 1.5;
}

span.badge {
  font-weight: 500;
}

div[class*="highlight"] {
  font-family: $font-code;
}

h1, h2, h3, h4, h5, h6 {
  a {
    display: block;
  }
}

p, span, h1, h2, h3, h4, h5, h6, li {
  a {
    padding: 0 0.2rem;
    color: inherit;
    position: relative;
    z-index: 10;
    font-size: inherit;
    display: inline-block;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      // background: #42c6ff;
      // background: #5000ff;
      // background: #914ae6;
      background: #7f58ff;
      z-index: -1;
      transition: height 125ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &:hover {
      color: #fefefe;
      text-decoration: none;
      &:after {
        height: 100%;
      }
    }
}
}
