div.log-heading {
  h1, h2 {
    font-family: $font-code;
    background: #d6dde0;
    font-weight: bold;
    color: #6b7275;
  }
}

div.log-entry.card {
  background: #304757;
  div.log-header.card-header {
    // display: flex;
    // flex-direction: row;
    background: #d7dde0;
  }
  div.log-excerpt {
    h3.log-title {
      font-family: $font-sans;
      font-weight: 700;
      // color: #3e4c52;
      color: #0d3140;
    }
    h5.log-snark {
      font-family: $font-sans;
      font-weight: 500;
      color: #667a82;
    }
    p {
      margin: 0;
    }
  }
}