---
layout: base
---

<div class="container pt-5">
  <div class="jumbotron py-md-5">
    <h1 class="mb-0 log-heading rounded-top"> Contacting me </h1>
    <h2 class="mb-0 log-heading rounded-bottom"> or... talking to <a href="https://archive.li/1mTK6/image"> strangers </a> </h2>
    <hr>
    <div class="btn-group">
      <a class="btn btn-md btn-secondary btn-github"
        href="https://github.com/ionlights">
        <i class="fab fa-github"></i>
      </a>
      <a class="btn btn-md btn-secondary btn-keybase"
        href="https://keybase.io/ionlights">
        <i class="fab fa-keybase"></i>
      </a>
      <a class="btn btn-md btn-secondary btn-linkedin"
        href="https://linkedin.com/in/ionlights">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="btn btn-md btn-secondary btn-email"
        href="mailto:john@ionlights.com?subject=%5Bionlights.com%5D%20apt-subject-here&body=your-message-here">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      {{ content }}
    </div>
  </div>
</div>
