---
layout: base
---

{% if page.sublog_idx %}
  {% assign fullname = page.path | remove: ".md" | remove: "_pages_sublog/" %}
  {% assign lookup = fullname | split: '/' | last %}
  {% assign category = fullname | split: '/' | first %}
  {% assign fullname = fullname | remove: category | remove_first: "/" %}
{% else %}
  {% assign split = page.path | split: "/" | last %}
  {% assign lookup = page.categories | last %}
  {% assign category = lookup %}
{% endif %}

{% include utils/_collect-subcategories.html %}

<div class="container pt-5">
  <div class="jumbotron py-md-5">
    <h1 class="mb-0 log-heading rounded-top"> {{ page.title }} </h1>
    <h2 class="mb-0 log-heading rounded-bottom"> or... {{ page.snark }} </h2>
    <hr>
    <div class="btn-toolbar px-0">
      {% assign base_btn_group = "btn-group btn-group-md pr-3" %}
      <div class="{{ base_btn_group }}">
        {% assign base_cls = "btn btn-primary" %}
        <div class="{{ base_cls }} d-flex flex-column justify-content-center"> <i class="fas fa-calendar"></i> </div>
        <div class="{{ base_cls }}"> {{ page.date | date: "%b %d, %Y" }} </div>
      </div>
      <div class="{{ base_btn_group }}">
          {% assign base_cls = "btn btn-secondary" %}
        <div class="{{ base_cls }} d-flex flex-column justify-content-center"> <i class="fas fa-archive"></i> </div>
        {% for cat in page.categories %}
          <div class="{{ base_cls }}"> {{ cat }} </div>
        {% endfor %}
      </div>
      <div class="{{ base_btn_group }}">
        {% assign base_cls = "btn btn-secondary" %}
        <div class="{{ base_cls }} d-flex flex-column justify-content-center"> <i class="fas fa-tags"></i> </div>
        {% for tag in page.tags %}
          <div class="{{ base_cls }}"> {{ tag }} </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row px-3">
    <main class="col-12 col-lg-8" id="log-entry">
      {{ content | remove_first: page.excerpt }}
    </main>

    <div class="col-12 col-lg-4">
      {% include modules/logs/related.html %}
    </div>
  </div>
</div>