---
layout: base
---

{% include modules/header.html
  name="now" %}

{% if page.sublog_idx %}
  {% assign fullname = page.path | remove: ".md" | remove: "_pages_sublog/" %}
  {% assign lookup = fullname | split: '/' | last %}
  {% assign category = fullname | split: '/' | first %}
  {% assign fullname = fullname | remove: category | remove_first: "/" %}
{% else %}
  {% assign split = page.path | split: "/" | last %}
  {% assign lookup = page.categories | last %}
  {% assign category = lookup %}
{% endif %}

{% include utils/_collect-subcategories.html %}

<div class="container py-5">
  <div class="log-heading col-12 col-lg-8">
    <h1 class="log-title"> Now </h1>
    <div class="btn btn-log-date"> on {{ page.date | date: "%b %d, %Y" }} </div>
  </div>
  {% assign dino = site.time | date: "%Y" | plus: -1 %}
  {% assign psyr = page.date | date: "%Y" | plus:  0 %}
  {% unless dino >= psyr %}
    <div class="log-age-warning">

    </div>
  {% endunless %}
</div>

<div class="container pb-5">
  <div class="row px-3">
    <article class="col-12 col-lg-8" id="log-entry">
      {{ page.content | remove_first: post.excerpt }}
    </article>

    <div class="col-12 col-lg-4">
      {% include modules/logs/related.html %}
    </div>
  </div>
</div>